@model pr.Models.HeaderModel
<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="@Model.principal[0].url"><h1>@Model.Titulo</h1></a>
                        </div>
                    </div>
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="@Model.principal[0].url">Home</a></li>
                           @for (int i = 1; i < Model.principal.Count; i++)
                           {
                            <li role="presentation"><a href="@Model.principal[i].url">@Model.principal[i].titulo</a></li>
                           }                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
